///////////////////////////////////////////////////////////////////////////////////
///                                                                             ///
/// [PROJECT]: Name: Tomasulo Algorithm Simulator.                              ///
///            URL:  www.----                                                   ///
///            GIT:  <Link não disponivel. GIT server privado>                  ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [DEVELOPMENT]:  Team:   Lucas Fonseca dos Santos.                           ///
///                         Igor Nunes:                                         ///
///                         Marco Aurelio:                                      ///
///                         Alan left:                                          ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [INFORMATIONS]: Fonts:  Ubuntu, 300, 400, 500, 700                          ///
///                         Open Sans, 300, 400, 600, 700                       ///
///                         Open Sans Condensed, 300, 700                       ///
///                 Colors: #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
///   Use .content to write class .container by bootstrap and .line to write    ///
///   .row class by bootstrap.                                                  ///
///                                                                             ///
///   Use mixin extend_grid() with the params: LG value, MD value, SM value,    ///
///   XS value in respective order to extend grid system of bootstrap.          ///
///                                                                             ///
///////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////
///                              FILE INFORMATION                               ///
///-----------------------------------------------------------------------------///
/// [NAME]: Core                                                                ///
/// [CONTENT]: Responsible for all front end struct.                            ///
///////////////////////////////////////////////////////////////////////////////////





*
   font-size: 100%
   margin:    0px auto
   padding:   0px





body
   overflow-x: hidden
   background: #ff00cc
   





//----------------------------------[ IMPORTS ]----------------------------------//
@import "libs/_bootstrap.scss"
@import "variables.sass"
@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700|Ubuntu:300,400,500,700"
@import "https://fonts.googleapis.com/css?family=Archivo+Black"
//-------------------------------------------------------------------------------//





//----------------------------------[ MIXINS ]-----------------------------------//
@mixin transform_translateX($param)
   transform:           translateX($param)
   -o-transform:        translateX($param)
   -ms-transform:       translateX($param)
   -moz-transform:      translateX($param)
   -webkit-transform:   translateX($param)

@mixin transform_translateY($param)
   transform:           translateY($param)
   -o-transform:        translateY($param)
   -ms-transform:       translateY($param)
   -moz-transform:      translateY($param)
   -webkit-transform:   translateY($param)

@mixin border_radius($param)
   border-radius:         $param
   -o-border-radius:      $param
   -ms-border-radius:     $param
   -moz-border-radius:    $param
   -webkit-border-radius: $param

@mixin transform_rotate($param)
    transform: rotate($param)
    -o-transform: rotate($param)
    -ms-transform: rotate($param)
    -moz-transform: rotate($param)
    -webkit--transform: rotate($param)

@mixin gradient_background($param1, $param2, $param3)
   background: $param2
   linear-gradient($param1, $param2 , $param3)
   -o-linear-gradient($param1, $param2 , $param3)
   -ms-linear-gradient($param1, $param2 , $param3)
   -moz-linear-gradient($param1, $param2 , $param3)
   -webkit-linear-gradient($param1, $param2 , $param3) 

@mixin gradient_line($param1, $param2, $param3, $param4)
   background: $param2
   linear-gradient($param1, $param2 , $param3)
   -o-linear-gradient($param1, $param2 , $param3)
   -ms-linear-gradient($param1, $param2 , $param3)
   -moz-linear-gradient($param1, $param2 , $param3)
   -webkit-linear-gradient($param1, $param2 , $param3)

@mixin horizontal_div_divider_1($param1, $param2)
   border-bottom: 100vh $param1 solid
   border-top:    0vh solid transparent 
   border-right:  $param2 20vw solid
   border-left:   0px $param2 solid

@mixin horizontal_div_divider_2($param1, $param2)
   border-bottom: 0vh solid transparent
   border-top:    100vh $param1 solid
   border-right:  0px $param2 solid
   border-left:   $param2 20vw solid

@mixin divider($param1, $param2)
    @extend .hidden-xs
    min-height:     200px
    height:         200px
    overflow:       hidden
    margin:         0px
    border-top:     200px solid #afc3fd
    border-left:    50vw solid $__COLOR__dark-gray_ !important
    border-right:   50vw solid $__COLOR__dark-gray_ !important
    border-bottom:  none
    z-index:        10 !important

@mixin filter($param)
   filter:         $param
   -o-filter:      $param
   -ms-filter:     $param
   -moz-filter:    $param
   -webkit-filter: $param

@mixin responsive_system($param1, $param2, $param3, $param4)
   @extend .col-lg-#{$param1}
   @extend .col-md-#{$param2}
   @extend .col-sm-#{$param3}
   @extend .col-xs-#{$param4}
//-------------------------------------------------------------------------------//





//----------------------------------[ FONTS ]------------------------------------//
h1
    position: relative
    font:
        family: $__FONT__title_
        weight: 100
        size: 5em
    text:
        transform: uppercase
    color: #FFF//$__COLOR__white_
    margin: 0px
h2
    position: relative
    font:
        family: $__FONT__title_
        weight: 400
        size: 2.5em
    text:
        transform: uppercase !important
    margin: 0px
h3
    position: relative
    font:
        family: $__FONT__text1_
        weight: 800
        size: 1.3em
    text-transform: uppercase
    color: $__COLOR__white_
    margin: 0px
h4
h5
label
    font:
        family: $__FONT__text1_
        weight: 200
        size: 1.2em
    color: $__COLOR__white_


a
    font:
        family: inherit
        size:   inherit
        weight: inherit
    color:  inherit
    cursor: pointer
    text:
        decoration: underline
        transform: inherit
    outline: none
p
    margin: 0px
    font:
        family: $__FONT__text1_
        weight: 100
        size: 1.2em
    text-align: left
//-------------------------------------------------------------------------------//






//----------------------------------[ SUPERCLASS ]-------------------------------//
.transitions
   transition:          $__ANIMATION__TIME__
   -o-transition:       $__ANIMATION__TIME__
   -ms-transition:      $__ANIMATION__TIME__
   -moz-transition:     $__ANIMATION__TIME__
   -webkit-transition:  $__ANIMATION__TIME__

.content
    @extend .container

.line 
    @extend .row

.titleSection
    //@extend .line
    margin-bottom: 35px
    h2
        position: relative
        padding-bottom: 2px
        text-decoration: none
        padding: 0px 0px 0px 0px
        color: $__COLOR__light-gray_
    p
        position: relative
        padding-bottom: 2px
        text-decoration: none
        font-size: 0.4em !important
        padding: 0px 0px 40px 0px
        color: $__COLOR__white_
        text-transform: none !important
        font-weight: 400 !important
        &::after
            content: ""
            position: absolute
            bottom: 0px
            left: 0
            height: 1px
            width: 100%
            background: #FFF !important
            background: linear-gradient(left, transparent 0%,#FFF 50%,transparent 100%) !important
            background: -moz-linear-gradient(left, transparent 0%,#FFF 50%,transparent 100%) !important
            background: -o-linear-gradient(left, transparent 0%,#FFF 50%,transparent 100%) !important
            background: -webkit-linear-gradient(left, transparent 0%,#FFF 50%,transparent 100%) !important
            background: -ms-linear-gradient(left, transparent 0%,#FFF 50%,transparent 100%) !important

.white-title
    color: $__COLOR__white_ !important
//-------------------------------------------------------------------------------//






//-----------------------------------[ FORMS ]-----------------------------------//
input, textarea, select
    @extend .transitions
    @include border_radius(8px)
    background: none
    outline: none
    border: solid 2px #FFF
    padding: 15px
    color: #FFF
    margin: 5px 10px 5px 10px
    cursor: pointer
    font:
        family: $__FONT__text1_
        size: 1.5em
    &:hover
        background: $__COLOR__white_
        color: #333399
    &:focus
        background: $__COLOR__white_
        color: #333399
    &::-moz-placeholder
        color: #FFFFFF !important
button
    background: #FFF
    border: none
    padding: 15px
    margin-top: 15px
    margin-left: 2px
    margin-right: 2px
    font:
        color: #333399
        weight: 200
        font-family: $__FONT__text1_
        size: 1.5em
    &:hover
        background: #f3f3f3
        
    &:first-child
        border-top-left-radius: 8px
        border-bottom-left-radius: 8px
        margin-right: 2.0px
    &:last-child
        border-top-right-radius: 8px
        border-bottom-right-radius: 8px
        margin-left: 2.0px
table
    
//-------------------------------------------------------------------------------//






//----------------------------------[ SECTIONS ]---------------------------------//

//+++++++++++++++++++++Header++++++++++++++++++++++//
header
    min-height: $__HEIGHT__header_
    height: auto
    padding: 50px 0px 0px 100px
//++++++++++++++++++End of header++++++++++++++++++//

//+++++++++++++++++++++Footer++++++++++++++++++++++//
footer
    @extend .line
    .line
        &:first-child
            padding: 50px 0px 0px 100px
    #copyright
        width: 102vw
        position: absolute
        bottom: 0%
        background: $__COLOR__light-gray_ !important
        @extend .text-center
        padding: 0.7%
        p
            text-align: center !important
            cursor: pointer
            span
                @include transform_rotate(180deg)
                transform: rotate(180deg) !important
                display:inline-block
                
//++++++++++++++++++End of Footer++++++++++++++++++//

//+++++++++++++++++++++Index01+++++++++++++++++++++//
main
    @extend .text-center
    padding: 50px 0px 0px 0px
    form
        @extend .container
        .line:last-child
            margin-top: 40px
    .subForm
        @include responsive_system(3,3,3,3)
        padding: 0px 5px 0px 5px
        &:first-child
            padding-right: 5px !important
        &:last-child
            padding-left: 5px !important
    input, select, textarea
        width: 100%
    .fix
        margin-top: 30px
    #informations
        color: #FFF
        padding-left: 10px
//++++++++++++++++++End of Index01+++++++++++++++++//

.helper
    padding: 50px 0px 0px 90px
    text-align: left

//-------------------------------------------------------------------------------//




//----------------------------------[ RESPONSIVE COND. ]-------------------------//
// @media screen and (min-width: 1921px)

// @media screen and (max-width: 1750px) and (min-width: 1550px)

// @media screen and (max-width: 1549px) and (min-width: 1350px)

// @media screen and (max-width: 1349px) and (min-width: 1200px)

// @media screen and (max-width: 1199px) and (min-width: 992px)

// @media screen and (max-width: 991px) and (min-width: 768px)

// @media screen and (max-width: 767px) and (min-width: 550px)

// @media screen and (max-width: 549px) and (min-width: 350px)

// @media screen and (max-width: 349px)
//-------------------------------------------------------------------------------//